{% extends "base.html" %}
{% block canonical %}
<link rel="canonical" href="https://viacomindia.com/terms-and-conditions" />
{% endblock canonical %}
{% load static %} {% block body %}
<div class="container-fluid" style="margin-top: 100px;">
    <ul>
        <h3>Our terms and conditions</h3>
        <hr>
        {%for i in terms_and_condition %}
        <li>
            <a href="/terms-and-condition/{{i.slug}}">{{i.terms_and_condition_name}}</a>
        </li>
        {%endfor%}
    </ul>
</div>



{% endblock body %}